{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- TIPO DE ESCRITURA ACEPTADA SU COMPATIBILIDAD Y MAS CARACTERISTICAS DE LA PAGINA -->
    <meta charset="UTF-8">
    <meta content="" name="color-scheme">
    <meta content="origin" name="referrer">
    <meta name="author" content="">
    <meta name="description" content="actividad-programacion-web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link rel="icon" href={% static 'core/icon/home.png'%}>
    <!--ACA SE LINKEA CDN DE BOOTSTRAP-->
    <link 
        rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--ACA LINKEAMOS EL estilo.css-->
    <link rel="stylesheet"  href="{% static 'core/css/style.css'%}" type="text/css">
</head>
<body id="fondo">
    <!--ACA COLOCAMOS EL NAVBAR-->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'producto' 'ins' -1 %}">Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'tienda_producto' %}">Tienda</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
        </li>
        <li class="nav-item">
        <a href="{% url 'sesion' %}" class="btn btn-outline-success">Login</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'registro' %}" class="btn btn-outline-info">Registro</a>
        </li>
    </ul>
    </div>
</nav>
      <!-- REGISTRO!! -->
    
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
<!-- Aquí empieza el formulario-->
        <form id="registrocolor">
          <!-- aqui estan todos los parametros que se piden -->
          <h1>Crea tu Cuenta</h1>
          <hr>
          <div class="form-group">
            <label for="rut">RUT:</label>
            <input type="number" id="rut" name="rut" placeholder="ex: 12345678-6">
          </div>

          <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres">
          </div>

          <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos">
          </div>

          <div class="form-group">
            <label for="correo">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" placeholder="example@email.com">
          </div>

          <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="direccion" id="direccion" name="direccion">
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="miCheckbox">
              <label class="form-check-label" for="miCheckbox">
                Subscripcion
              </label>
          </div>
          </div>
          <div class="form-group">
            <label for="foto">Foto de perfil:</label>
            <input type="file" id="foto" name="foto" accept="image/*">
          </div>

          <div class="form-group">
            <label for="contra">Contraseña:</label>
            <input type="password" id="contra" name="contra">
          </div>
          
          <div class="form-group">
            <label for="recontra">Repetir contraseña:</label>
            <input type="password" id="recontra" name="recontra">
          </div> 
            <!-- boton registrar -->
          <input type="submit" value="Registrar" class="btn btn-success" onclick="return registrar()">

          <!-- mensajes emergente de registro completado o no completado -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10">
                <div id="succes" style="display: none;"> registro completado, puedes volver al inicio.</div>
                <div  id="error" style="display: block;"> </div>
              </div>
            </div>
          </div>          
        </form>
      </div>
    </div>
  </div>
<script src="{% static 'core/js/scrips.js'%}" ></script>
</body>
</html>